.page-header-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.btn-cadastrar-admin {
    background-color: #1a3a6d;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-cadastrar-admin:hover { background-color: #0d2142; }

.table-container-user {
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.search-bar-user {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    background: #272626;
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
}

.search-bar-user input {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
    font-size: 15px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th {
    text-align: left;
    padding: 15px;
    background-color: #1a3a6d;
    color: white;
    font-size: 14px;
}

.user-table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #444;
}

.id-col { color: #1a3a6d; font-weight: 600; }

.badge-tipo {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
}

.badge-tipo.estudante { background: #f0f4f8; color: #555; }
.badge-tipo.administrador { background: #1a3a6d; color: white; }


.modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 450px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-group { margin-bottom: 15px; }
.form-group label { display: block; margin-bottom: 5px; font-weight: 500; font-size: 14px; }
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.btn-save-modal {
    width: 100%;
    padding: 12px;
    background: #2e7d32;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 10px;
}